@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #2f2f2f;
}

a {
    font-weight: 500;
    color: inherit;
    transition: color 0.8s ease;
}

a:hover {
    color: #F79421;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1500;
}
h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
}
main {
    padding-top: 100px;
}
nav.nav-extended .nav-wrapper {
    min-height: 90px;
    background-color: #ffffff;
}
nav ul a {
    color: black;
}
nav .brand-logo {
    height: 100%;
    width: 90px;
    padding: 5px;
}

nav a.sidenav-trigger {
    height: 90px;
    line-height: 90px;
    width: 90px;
    margin: 0 0;
    padding: 0 35px;
    color: black;
}

img.header-logo {
    width: 100%;
    height: 100%;
}

/* mobile menu */

#mobile-demo > a.brand-logo-mobile {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 20px;
}
img.header-logo-mobile {
    position: relative;
    width: 100%;
    height: 80px;
}
#mobile-demo  li.mobile-menu-first-element {
    margin-top: 100px;
}

/* content styling */
.card .card-image .card-title {
    font-family: 'Dancing Script', cursive;
    left: 50%;
    top: 50%;
    bottom: unset;
    transform: translate3d(-50%, -50%, 0);
    font-weight: 400;
    font-size: 40px;
}

.flash-messages h3 {
    line-height: 2;
}

.card .card-image {
    overflow: hidden;
    height: 30vh;
}
.card .card-image img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/* buttons */

button.btn,
button.btn-large,
button.btn-small {
    background-color: inherit;
    transition: all 0.8s ease;
}

button.btn:hover,
button.btn-large:hover,
button.btn-small:hover {
    background-color: #F79421!important;
}
.link-text.light-green-text.text-darken-3:hover,
.link-text.red-text.text-darken-1:hover {
    color: #F79421!important;
    font-weight: 500;
}


/* break points */

@media only screen and (min-width: 991px) {

    nav .brand-logo {
        left: 20px;
    }

}