@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');

:root {
    --color-brand-1: #E53935;
    --color-brand-2: #558B2F;
    --color-brand-3: #F57C00;
    --color-brand-4: #939393;
    --color-brand-5: #2F2F2F;
    --color-black: #000000;
    --color-white: #ffffff;
  }

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #2f2f2f;
    font-size: 16px;
}

a {
    font-weight: 500;
    color: inherit;
    transition: color 0.8s ease;
}
.container {
    margin-top: 40px;
    margin-bottom: 40px;
}

a:hover {
    color: var(--color-brand-3);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1500;
}
h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
}
h1 {font-size: 52px;}
h2 { font-size: 42px;}
h3 { font-size: 32px; }
h4 {font-size: 26px;}
main {
    padding-top: 100px;
    min-height: calc(100vh - 160px);
}
nav.nav-extended .nav-wrapper {
    min-height: 90px;
    background-color: var(--color-white);
    /* display: inline-flex; */
}
/* .search-box-container {
    margin-left: 50px;
    margin-right: 50px;
} */
nav ul a {
    color: var(--color-brand-5);
    padding: 13px 15px;
    background-color: transparent;
    transition: all 0.8s ease;
}
nav ul a.user-link,
.sidenav li>a.user-link {
    background-color: var(--color-brand-3);
    color: var(--color-white);
    border-left: 1px solid var(--color-white);
}

nav > div > ul > li > a:hover {
    background-color: var(--color-brand-3);
    color: var(--color-white);
}
nav > div > ul > li > a.user-link:hover {
    background-color: var(--color-brand-1);
    color: var(--color-white);
}
nav .brand-logo {
    height: 100%;
    width: 90px;
    padding: 5px;
}

nav a.sidenav-trigger {
    height: 90px;
    line-height: 90px;
    width: 90px;
    margin: 0 0;
    padding: 0 35px;
    color: var(--color-brand-5);
}

img.header-logo {
    width: 100%;
    height: 100%;
}

/* mobile menu */

#mobile-demo > a.brand-logo-mobile {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 20px;
}
img.header-logo-mobile {
    position: relative;
    width: 100%;
    height: 80px;
}
#mobile-demo  li.mobile-menu-first-element {
    margin-top: 100px;
}

/* content styling */
.card .card-image .card-title {
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px 1px var(--color-black);
    left: 50%;
    top: 50%;
    bottom: unset;
    transform: translate3d(-50%, -50%, 0);
    font-weight: 400;
    font-size: 40px;
    text-transform: capitalize;
    z-index: 2;
}

.flash-messages h3 {
    line-height: 2;
}

.card .card-image {
    overflow: hidden;
    height: 30vh;
}

.card .card-image.add-background::before {
    content: '';
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    border: 1px solid var(--color-white);
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}
.card .card-image img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.card .single-recipe {
    position: relative;
}

.card .card-content h3.profile-user-title {
    margin-top: 50px;
}

.card-content.single-recipe .single-recipe-box {
    padding: 30px;
}
.card-content.single-recipe .single-recipe-box .subtitle {
    text-align: left;
    padding-left: 10%;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.card-content.single-recipe .single-recipe-box .subtitle-text {
    text-align: left;
    margin-left: 20%;
    width: 80%;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid var(--color-brand-4);
}
.card-content.single-recipe .single-recipe-box .single-recipe-button-box {
    margin-top: 20px;
}

.progress {
    height: 15px;
}

/* buttons */

button.btn,
button.btn-large,
button.btn-small {
    background-color: inherit;
    border-radius: 0;
    transition: all 0.8s ease;
}

button.btn:hover,
button.btn-large:hover,
button.btn-small:hover {
    background-color: var(--color-brand-3)!important;
}
.link-text.light-green-text.text-darken-3:hover,
.link-text.red-text.text-darken-1:hover {
    color: var(--color-brand-3)!important;
    font-weight: 500;
}

/* recipes module */

div.image-text-row {
    height: 40vh;
    overflow: auto;
    margin-bottom: 40px;
}
div.image-text-col-recipe {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* div.image-text-col-recipe:last-child {
    justify-content: center;
    margin-left: 25%!important;
} */
.col.image-area {
    height: 100%;
    min-height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 0;
}
.col.image-area-recipes {
    height: auto;
    min-height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 0;
}
.col.image-area-recipes::before,
.col.image-area::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    border: 1px solid var(--color-white);
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}
div.col.image-area-recipes > img.recipe-image,
div.col.image-area > img.recipe-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
div.col.content-area {
    height: 100%;
    min-height: 300px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

div.col.content-area .subtitle {
    margin-top: 0;
    margin-bottom: 5px;
}
div.col.content-area .subtitle-category,
div.col.content-area .subtitle-cuisine {
    margin-top: 0;
    margin-bottom: 5px;
}

div.col.content-area::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    border: 1px solid var(--color-brand-4);
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}
div.row.card-panel.search-box-container > form > div > div > a.button-recipes,
div.card-content > div > div > a.button-user,
div.col.content-area > a.button-recipes,
div.col.content-area > a.button {
    border-radius: 0;
    margin-left: 0;
    z-index: 2;
    transition: all 0.8s ease;
}
div.row.card-panel.search-box-container > form > div > div > a.button-recipes:hover,
div.card-content.single-recipe > div > div > a.button-recipe:hover,
div.card-content > div > div > a.button-user:hover,
div.col.content-area > a.button-recipes:hover,
div.col.content-area > a.button:hover {
    background-color: var(--color-brand-3)!important;
    color: var(--color-white);
}


div.card-content > div > div > a.button-user{
    border-radius: 0;
    margin-left: unset;
    z-index: 2;
    transition: all 0.8s ease;
}

div.categories-module .row .category-box .card-action a.button-category {
    width: 45%;
    border-radius: 0;
    margin-left: unset;
    z-index: 2;
    transition: all 0.8s ease;
}
div.categories-module .row .category-box .card-action a.button-category:hover {
    background-color: var(--color-brand-3)!important;
    color: var(--color-white);
}


/* footer */

footer > div > div > ul.list-inline.social-links {
    display: inline-flex;
}
footer {
    display: grid;
}

footer > div > div > ul > li > a.inline-item {
    font-size: 30px;
    padding: 20px 30px;
}

footer > div.row {
    width: 100%;
    margin-bottom: 50px;
}

footer > div > div.social-links-container {
    width: 100%;
    border-bottom: 1px solid var(--color-white);
}

/* break points */

@media only screen and (min-width: 1201px) {

    div.image-text-col-recipe.profile:last-child {
        justify-content: center;
        margin-left: 25%!important;
    }

}

@media only screen and (min-width: 993px) {
    div.image-text-col-recipe.recipes:last-child {
        justify-content: center;
        margin-left: 25%!important;
    }
    .search-box-container {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media only screen and (min-width: 991px) {

    nav .brand-logo {
        left: 20px;
    }
}

/* max width */
@media only screen and (max-width: 1199px) {
    h1 {font-size: 40px;}
    h2 { font-size: 30px;}
    h3 { font-size: 25px; }
    h4 {font-size: 22px;}

    .btn-large { font-size: 12px; }

}

@media only screen and (max-width: 993px) {

    div.image-text-row {
        height: auto;
        overflow: auto;
        margin-bottom: 40px;
    }

    .search-box-container  form.search-box .valign-wrapper {
        flex-direction: column;
    }
    .card .card-content form  button.button-recipes,
    .card-panel > form > div > div > .button-recipes,
    div.card-content > div > div > a.button-user {
        margin-top: 10px;
    }

    .card .card-image .card-title {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
    }

}

@media only screen and (max-width: 601px) {

    div.image-text-row {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    div.col.content-area {
        min-height: 350px;
        order: 2;
    }

    div.image-text-col-recipe {
        flex-direction: column;
    }

    footer > div > div > ul > li > a.inline-item {
        font-size: 20px;
        padding: 10px 10px;
    }
    .btn-large {
        font-size: 12px;
    }

    label,
    input,
    textarea,
    .prefix ~ .select-wrapper {
        width: 100%!important;
        margin-left: 0!important;
    }

}
