@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');

:root {
    --color-brand-1: #E53935;
    --color-brand-2: #558B2F;
    --color-brand-3: #F57C00;
    --color-brand-4: #939393;
    --color-brand-5: #2F2F2F;
    --color-black: #000000;
    --color-white: #ffffff;
  }

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #2f2f2f;
}

a {
    font-weight: 500;
    color: inherit;
    transition: color 0.8s ease;
}

a:hover {
    color: var(--color-brand-3);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1500;
}
h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
}
main {
    padding-top: 100px;
}
nav.nav-extended .nav-wrapper {
    min-height: 90px;
    background-color: var(--color-white);
}
nav ul a {
    color: var(--color-brand-5);
    padding: 13px 15px;
    background-color: transparent;
    transition: all 0.8s ease;
}

body > header > nav > div > ul > li > a:hover {
    background-color: var(--color-brand-3);
    color: var(--color-white);
}
nav .brand-logo {
    height: 100%;
    width: 90px;
    padding: 5px;
}

nav a.sidenav-trigger {
    height: 90px;
    line-height: 90px;
    width: 90px;
    margin: 0 0;
    padding: 0 35px;
    color: var(--color-brand-5);
}

img.header-logo {
    width: 100%;
    height: 100%;
}

/* mobile menu */

#mobile-demo > a.brand-logo-mobile {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 20px;
}
img.header-logo-mobile {
    position: relative;
    width: 100%;
    height: 80px;
}
#mobile-demo  li.mobile-menu-first-element {
    margin-top: 100px;
}

/* content styling */
.card .card-image .card-title {
    font-family: 'Dancing Script', cursive;
    left: 50%;
    top: 50%;
    bottom: unset;
    transform: translate3d(-50%, -50%, 0);
    font-weight: 400;
    font-size: 40px;
}

.flash-messages h3 {
    line-height: 2;
}

.card .card-image {
    overflow: hidden;
    height: 30vh;
}
.card .card-image img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/* buttons */

button.btn,
button.btn-large,
button.btn-small {
    background-color: inherit;
    transition: all 0.8s ease;
}

button.btn:hover,
button.btn-large:hover,
button.btn-small:hover {
    background-color: var(--color-brand-3)!important;
}
.link-text.light-green-text.text-darken-3:hover,
.link-text.red-text.text-darken-1:hover {
    color: var(--color-brand-3)!important;
    font-weight: 500;
}

/* recipes module */

div.image-text-row {
    height: 40vh;
    overflow: auto;
}
.col.image-area {
    height: 100%;
    overflow: hidden;
}
div.col.image-area > img.recipe-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
div.col.content-area {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.col.content-area > a.button {
    margin-left: unset;
}

/* footer */

footer > div > div > ul.list-inline.social-links {
    display: inline-flex;
}
footer {
    display: grid;
}

/* break points */

@media only screen and (min-width: 991px) {

    nav .brand-logo {
        left: 20px;
    }

}