{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m10 l10 offset-m1 offset-l1">
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src="{{url_for('static', filename='images/project-3-img-014e.jpg')}}">
                    <span class="card-title light-green-text text-darken-3 center-align">Add new recipe</span>
                </div>
                <div class="card-content">
                    <div class="row">
                        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_recipe') }}">
                            <div class="card-panel">
                                <!-- Recipe Name -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-pencil-alt prefix light-green-text text-darken-3"></i>
                                        <input id="dish_name" name="dish_name" type="text" minlength="5"
                                            maxlength="60" class="validate" required>
                                        <label for="dish_name">New Recipe Name</label>
                                    </div>
                                </div>
                                <!-- Category name -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-list prefix light-green-text text-darken-3"></i>
                                        <select id="category_name" name="category_name" class="validate" required>
                                            <option value="" disabled selected>Choose Category</option>
                                            {% for category in categories %}
                                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="category_name">Select Dish Category</label>
                                    </div>
                                </div>
                                <!-- Cuisine name -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-list prefix light-green-text text-darken-3"></i>
                                        <select id="cuisine_name" name="cuisine_name" class="validate" required>
                                            <option value="" disabled selected>Choose Cuisine</option>
                                            {% for cuisine in cuisine %}
                                                <option value="{{ cuisine.cuisine_name }}">{{ cuisine.cuisine_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="cuisine_name">Select Cuisine</label>
                                    </div>
                                </div>
                                <!-- Ingredients -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-hamburger prefix light-green-text text-darken-3"></i>
                                        <!-- <input id="ingredients" name="ingredients" type="text" class="validate" required>
                                        <label for="ingredients">Add Ingredients</label> -->
                                        <textarea id="ingredients" name="ingredients" type="text" minlength="5"
                                            maxlength="1000" class="materialize-textarea" required></textarea>
                                        <label for="ingredients">Add Ingredients</label>
                                    </div>
                                </div>
                                <!-- Preparation Steps -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-balance-scale-right prefix light-green-text text-darken-3"></i>
                                        <input id="preparation_steps" name="preparation_steps" type="text" class="validate" required>
                                        <label for="preparation_steps">Add Preparation Steps</label>
                                    </div>
                                </div>

                                <!-- image -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-exclamation prefix red-text text-darken-1"></i>
                                        <label for="image_url" class="red-text text-darken-1">You can use <a href="https://imgbb.com" target="_blank">free imgbb service</a> to get image url </label><br>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="far fa-image prefix light-green-text text-darken-3"></i>
                                        <input id="image_url" name="image_url" type="text" class="validate" pattern="https?:\/\/.+(jpg|jpeg|gif|bmp|png|tiff)" title="Must contain url link with image" required>
                                        <label for="image_url">Add Image URL address</label>
                                    </div>
                                </div>

                                <!-- Tools -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-utensils prefix light-green-text text-darken-3"></i>
                                        <input id="tools" name="tools" type="text" class="validate" required>
                                        <label for="tools">Add necessary tools</label>
                                    </div>
                                </div>

                                <!-- Add recipe -->
                                <div class="row">
                                    <button type="reset" class="col s12 m12 l4 offset-l1 btn-large red darken-1 text-shadow">
                                        Clear <i class="far fa-times-circle"></i>
                                    </button>
                                    <button type="submit" class="col s12 m12 l4 offset-l2 btn-large light-green darken-3 text-shadow button-recipes">
                                        Add recipe <i class="fas fa-sign-in-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <p class="center-align">
                You can
                <a href="{{ url_for('logout') }}" class="link-text light-green-text text-darken-3">Log Out</a>
            </p>
        </div>
    </div>

{% endblock %}