{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m10 l10 offset-m1 offset-l1">
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src="{{url_for('static', filename='images/project-3-img-014e.jpg')}}">
                    <span class="card-title light-green-text text-darken-3 center-align">Add new Cuisine</span>
                </div>
                <div class="card-content">
                    <div class="row">
                        <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('add_cuisine') }}">
                            <div class="card-panel">
                                <!-- Cuisine name -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-pencil-alt prefix light-green-text text-darken-3 hide-on-small-only"></i>
                                        <input id="cuisine_name" name="cuisine_name" type="text" minlength="2"
                                            maxlength="30" class="validate" required>
                                        <label for="cuisine_name">Add Cuisine Name</label>
                                    </div>
                                </div>
                                <!-- Add Cuisine -->
                                <div class="row">
                                    <button type="reset" class="col s12 m12 l4 xl4 offset-l1 offset-xl1 btn-large red darken-1 text-shadow button-category">
                                        Clear <i class="far fa-times-circle hide-on-small-only"></i>
                                    </button>
                                    <button type="submit" class="col s12 m12 l4 xl4 offset-l2 offset-xl2 btn-large light-green darken-3 text-shadow button-recipes">
                                        Add Cuisine <i class="fas fa-plus-square hide-on-small-only"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <p class="center-align">
                You can
                <a href="{{ url_for('logout') }}" class="link-text light-green-text text-darken-3">Log Out</a>
            </p>
        </div>
    </div>

{% endblock %}