{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
        <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src="{{url_for('static', filename='images/project-3-img-014b.jpg')}}">
                    <span class="card-title red-text text-darken-1 center-align">Manage Categories</span>
                </div>
                <div class="card-content">
                    <div class="row">
                        <!-- <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
                            <div class="card-panel">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-user-plus prefix red-text text-darken-1"></i>
                                        <input id="username" name="username" type="text" minlength="5"
                                            maxlength="15" pattern="^[a-zA-Z0-9]{5,18}$" class="validate" required>
                                        <label for="username">Username</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-user-lock prefix red-text text-darken-1"></i>
                                        <input id="password" name="password" type="password" minlength="5"
                                            maxlength="15" pattern="^[a-zA-Z0-9]{5,18}$" class="validate" required>
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 center-align">
                                        <button type="reset" class="col s6 btn-large red darken-1 text-shadow">
                                            Cancel <i class="fas fa-times-circle"></i>
                                        </button>
                                        <button type="submit" class="col s6 btn-large light-green darken-3 text-shadow">
                                            Register <i class="fas fa-sign-in-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form> -->

                        <div class="col s12 center-align">
                            <a href="{{ url_for('add_category') }}" class="col s6 offset-m3 btn-large light-green darken-3 text-shadow">
                                Add Category <i class="fas fa-plus-square right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for category in categories %}
                    <div class="col s12 m3">
                        <div class="card white text-shadow center-align">
                            <div class="card-content grey-text text-darken-4">
                                <span class="card-title">{{ category.category_name }}</span>
                            </div>
                            <div class="card-action">
                                <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn-large red darken-1 text-shadow">Edit</a>
                                <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn-large red darken-1 text-shadow">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                For Existing Users
                <a href="{{ url_for('login') }}" class="link-text red-text text-darken-1">Log In Here</a>
            </p>
        </div>
    </div>

{% endblock %}