{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src="{{url_for('static', filename='images/project-3-img-014g.jpg')}}">
                    <span class="card-title blue-grey-text text-lighten-5 center-align">Edit recipe</span>
                </div>
                <div class="card-content">
                    <div class="row">
                        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                            <div class="card-panel">
                                <!-- Recipe Name -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-pencil-alt prefix light-green-text text-darken-3"></i>
                                        <input id="dish_name" name="dish_name" type="text" value="{{ recipe.dish_name }}" minlength="5"
                                            maxlength="60" class="validate" required>
                                        <label for="dish_name">Recipe Name</label>
                                    </div>
                                </div>
                                <!-- Category name -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-list prefix light-green-text text-darken-3"></i>
                                        <select id="category_name" name="category_name" class="validate" required>
                                            <option value="" disabled selected>Choose Category</option>
                                            {% for category in categories %}
                                                {% if category.category_name == recipe.category_name %}
                                                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                                                {% else %}
                                                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <label for="category_name">Select Dish Category</label>
                                    </div>
                                </div>
                                <!-- Cuisine name -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-list prefix light-green-text text-darken-3"></i>
                                        <select id="cuisine_name" name="cuisine_name" class="validate" required>
                                            <option value="" disabled selected>Choose Cuisine</option>
                                            {% for cuisine in cuisine %}
                                                {% if cuisine.cuisine_name == recipe.cuisine_name %}
                                                    <option value="{{ cuisine.cuisine_name }}" selected>{{ cuisine.cuisine_name }}</option>
                                                {% else %}
                                                    <option value="{{ cuisine.cuisine_name }}">{{ cuisine.cuisine_name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <label for="cuisine_name">Select Cuisine</label>
                                    </div>
                                </div>
                                <!-- Ingredients -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-hamburger prefix light-green-text text-darken-3"></i>
                                        <input id="ingredients" name="ingredients" type="text" value="{{ recipe.ingredients }}" class="validate" required>
                                        <label for="ingredients">Add Ingredients</label>
                                    </div>
                                </div>
                                <!-- Preparation Steps -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-balance-scale-right prefix light-green-text text-darken-3"></i>
                                        <input id="preparation_steps" name="preparation_steps" type="text" value="{{ recipe.preparation_steps }}" class="validate" required>
                                        <label for="preparation_steps">Add Preparation Steps</label>
                                    </div>
                                </div>
                                <!-- add image -->
                                <!-- <div class="file-field input-field">
                                    <div class="btn btn-large light-green darken-3 text-shadow">
                                        <span>Add Image</span>
                                        <input type="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div> -->

                                <!-- temp image -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="far fa-image prefix light-green-text text-darken-3"></i>
                                        <input id="image_url" name="image_url" type="text" value="{{ recipe.image_url }}" class="validate" required>
                                        <label for="image_url">Add Image URL address</label>
                                    </div>
                                </div>
                                <!-- image description -->
                                <!-- <div class="row">
                                    <div class="input-field col s12">
                                        <i class="far fa-image prefix light-green-text text-darken-3"></i>
                                        <input id="img_description" name="img_description" type="text" value="{{ recipe.img_description }}" class="validate" required>
                                        <label for="img_description">Add Image description</label>
                                    </div>
                                </div> -->

                                <!-- Tools -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-utensils prefix light-green-text text-darken-3"></i>
                                        <input id="tools" name="tools" type="text" value="{{ recipe.tools }}" class="validate" required>
                                        <label for="tools">Add necessary tools</label>
                                    </div>
                                </div>

                                <!-- Add recipe -->
                                <div class="row">
                                    <div class="col s12 center-align">
                                        <a href="{{ url_for('get_recipes') }}" class="col s6 btn-large red darken-1 text-shadow">
                                            Cancel <i class="fas fa-times-circle right"></i>
                                        </a>
                                        <button type="submit" class="col s6 btn-large light-green darken-3 text-shadow">
                                            Edit recipe <i class="fas fa-edit"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <p class="center-align">
                You can
                <a href="{{ url_for('logout') }}" class="link-text light-green-text text-darken-3">Log Out</a>
            </p>
        </div>
    </div>

{% endblock %}