{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src="{{url_for('static', filename='images/project-3-img-018d.jpg')}}">
                    <span class="card-title blue-grey-text text-lighten-5 center-align">Please Log In Here</span>
                </div>
                <div class="card-content">
                    <div class="row">
                        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
                            <div class="card-panel">
                                <!-- username -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-user-check prefix light-green-text text-darken-3"></i>
                                        <input id="username" name="username" type="text" minlength="5"
                                            maxlength="15" pattern="^[a-zA-Z0-9]{5,18}$" class="validate" title="Must contain lowercase, uppercase and numbers.
                                            At least 5 characters" required>
                                        <label for="username">Username</label>
                                    </div>
                                </div>
                                <!-- passowrd -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-user-lock prefix light-green-text text-darken-3"></i>
                                        <input id="password" name="password" type="password" minlength="5"
                                            maxlength="15" pattern="^[a-zA-Z0-9]{5,18}$" class="validate" title="Must contain lowercase, uppercase and numbers.
                                             At least 5 characters" required>
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <!-- register -->
                                <div class="row">
                                    <button type="reset" class="col s4 offset-s1 btn-large red darken-1 text-shadow">
                                        Clear <i class="far fa-times-circle"></i>
                                    </button>
                                    <button type="submit" class="col s4 offset-s2 btn-large light-green darken-3 text-shadow">
                                        Log In <i class="fas fa-sign-in-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <p class="center-align">
                To get a full access, just
                <a href="{{ url_for('register') }}" class="link-text light-green-text text-darken-3">Create Account</a>
            </p>
        </div>
    </div>

{% endblock %}