{% extends "base.html" %}
{% block content %}
    <h1 class="title red-text text-darken-1 center-align">Our Partners</h1>
    <h2 class="subtitle light-green-text text-darken-3 center-align"></h2>

    <div class="container">
        <div class="row image-text-row">
            <div class="col s12 m5 l7 image-area">
                <img class="recipe-image responsive-img" src="{{url_for('static', filename='images/project-3-img-014k.jpg')}}" alt="">
            </div>
      
            <div class="col s12 m7 l5 content-area">
                <h3 class="subtitle light-green-text text-darken-3 center-align">NESBETS</h3>
                <p>Nisbets is the one-stop-shop for catering equipment and restaurant supplies in Ireland.</p>
                <a href="https://www.nisbets.ie" target="_blank" class="button col s10 m12 l10 xl8 offset-m0 offset-l0 offset-xl0 btn-large red darken-1 text-shadow">Visit Shop  &nbsp;&nbsp; <i class="fas fa-store-alt hide-on-small-only"></i></a>
            </div>
        </div>
        <div class="row image-text-row">
            <div class="col s12 m7 l5 content-area">
                <h3 class="subtitle light-green-text text-darken-3 center-align">The Kitchen Whisk</h3>
                <p>Some numbers about our recipes</p>
                <a href="https://www.thekitchenwhisk.ie" target="_blank" class="button col s10 m12 l10 xl8 offset-m0 offset-l0 offset-xl0 btn-large red darken-1 text-shadow">Visit Shop &nbsp;&nbsp;<i class="fas fa-store-alt hide-on-small-only"></i></a>
            </div>
            <div class="col s12 m5 l7 image-area">
                <img class="recipe-image responsive-img" src="{{url_for('static', filename='images/project-3-img-014l.jpg')}}" alt="">
            </div>
        </div>
    </div>

{% endblock %}
