{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1">
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src="{{url_for('static', filename='images/project-3-img-028a.jpg')}}">
                    <span class="card-title blue-grey-text text-lighten-5 center-align">Hello {{ username }}</span>
                </div>
                <div class="card-content">
                    <div class="row">
                        {% if session.user|lower == "admin"|lower %}
                            <div class="col s12 center-align">
                                <a href="{{ url_for('get_categories') }}" class="col s12 m10 l4 xl4 offset-m1 offset-l1 offset-xl1 btn-large light-green darken-3 text-shadow button-user">
                                    Manage Categories <i class="far fa-folder-open right hide-on-small-only"></i>
                                </a>
                                <a href="{{ url_for('get_cuisines') }}" class="col s12 m10 l4 xl4 offset-m1 offset-l2 offset-xl2 btn-large light-green darken-3 text-shadow button-user">
                                    Manage Cuisines <i class="far fa-folder-open right hide-on-small-only"></i>
                                </a>
                            </div>
                        {% endif %}

                        {% if session.user %}
                            <div class="col s12 profile-user-title">
                                {% if recipe|length > 0 %}
                                    <h3 class="light-green-text text-darken-3 center-align">
                                        {{ username }}'s Recipes:
                                    </h3>
                                {% else %}
                                    <h3 class="red-text text-darken-1 center-align">{{ username }} You can add recipes and preview them here </h3>
                                {% endif %}
                            </div>
                            <div class="row image-text-row-recipes">
                                {% for recipe in recipe %}
                                <div class="col s12 m12 l12 xl6 image-text-col-recipe">
                                    <div class="col s12 m12 l5 image-area-recipes">
                                        <img class="recipe-image responsive-img" src="{{ recipe.image_url }}" alt="{{ recipe.dish_name }}">
                                    </div>
                                    <div class="col s12 m12 l7 content-area"> 
                                        <h3 class="subtitle light-green-text text-darken-3 center-align">{{ recipe.dish_name }}</h3>
                                        <p class="subtitle-category"><strong>Category: </strong> {{ recipe.category_name }}</p>
                                        <p class="subtitle-cuisine"><strong>Cousine: </strong> {{ recipe.cuisine_name }}</p>
                                        <a href="{{ url_for('get_recipe', recipe_id=recipe._id) }}" class="col s12 m10 offset-m1 btn-large light-green darken-3 text-shadow button-recipes">Full Recipe:</a>
                                    </div>
                    
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}