{% extends "base.html" %}
{% block content %}
    <h3 class="title red-text text-darken-1 center-align">Recipes</h3>

    <!-- {% for recipe in recipe %}
        {{ recipe.dish_name }}<br>
        {{ recipe.category_name }}<br>
    {% endfor %} -->

    <div class="container-fluid">
        
        <div class="row image-text-row-recipes">
            {% for recipe in recipe %}
            <div class="col s12 m12 l6">
                <div class="col s12 m12 l6 image-area">
                    <!-- <p>{{ recipe.image_url }}</p> -->
                    <!-- <img class="recipe-image responsive-img" src="{{url_for('static', filename='images/project-3-img-dish-002.jpg')}}" alt=""> -->
                    <img class="recipe-image responsive-img" src="{{ recipe.image_url }}" alt="{{ recipe.dish_name }}">
                </div>
                <div class="col s12 m12 l6 content-area"> 
                    <h3 class="subtitle light-green-text text-darken-3 center-align">{{ recipe.dish_name }}</h3>
                    <p class="subtitle-category"><strong>Category: </strong> {{ recipe.category_name }}</p>
                    <p class="subtitle-cuisine"><strong>Cousine: </strong> {{ recipe.cuisine_name }}</p>
                    <!-- <h4 class="subtitle light-green-text text-darken-3 center-align">Ingredients</h4>
                    <p>{{ recipe.ingredients }}</p>
                    <p>{{ recipe.preparation_steps }}</p>
                    <p>{{ recipe.tools }}</p>
                    <p><strong>Author: </strong>{{ recipe.created_by }}</p> -->
                    <a href="{{ url_for('get_recipe', recipe_id=recipe._id) }}" class="col s8 offset-m1 btn-large light-green darken-3 text-shadow">View Full Recipe</a>
                    <!-- <div class="col s12">
                        {% if session.user|lower == recipe.created_by|lower %}
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="col s5 offset-m1 btn-large red darken-1 text-shadow">Remove Recipe</a>
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="col s5 offset-m1 btn-large light-green darken-3 text-shadow">Edit</a>
                        {% endif %}
                    </div> -->
                </div>

            </div>
            {% endfor %}
        </div>
       
    </div>

{% endblock %}