{% extends "base.html" %}
{% block content %}
    <h1 class="title red-text text-darken-1 center-align">Recipes</h1>

    <div class="row card-panel grey lighten-5 search-box-container">
        <form action="{{ url_for('search') }}" method="post" class="col s10 offset-s1 search-box">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m12 l7 xl7">
                    <i class="fas fa-search prefix light-green-text text-darken-3 hide-on-small-only"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search for Recipe</label>
                </div>
                <div class="col s12 m12 l5 xl5">
                    <a href="{{ url_for('get_recipes') }}" class="col s12 m12 l5 xl5 offset-l0 offset-xl0 btn-large red darken-1 text-shadow button-recipes">Reset</a>
                    <button type="submit" class="col s12 m12 l6 xl6 offset-l1 offset-xl1 btn-large light-green darken-3 text-shadow button-recipes">
                        <i class="fas fa-search left hide-on-small-only"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>


    <div class="container-fluid">
        {% if recipe|length > 0 %}
        <div class="row image-text-row-recipes">
            {% for recipe in recipe %}
            <div class="col s12 m12 l6 image-text-col-recipe recipes">
                <div class="col s12 m12 l6 image-area-recipes">
                    <img class="recipe-image responsive-img" src="{{ recipe.image_url }}" alt="{{ recipe.dish_name }}">
                </div>
                <div class="col s12 m12 l6 content-area"> 
                    <h3 class="subtitle light-green-text text-darken-3 center-align">{{ recipe.dish_name }}</h3>
                    <p class="subtitle-category"><strong>Category: </strong> {{ recipe.category_name }}</p>
                    <p class="subtitle-cuisine"><strong>Cousine: </strong> {{ recipe.cuisine_name }}</p>
                    <a href="{{ url_for('get_recipe', recipe_id=recipe._id) }}" class="col s8 offset-m1 btn-large light-green darken-3 text-shadow button-recipes">Full Recipe:</a>

                </div>

            </div>
            {% endfor %}
        </div>
        {% else %}
            <h3 class="red-text text-darken-1 center-align">Unfortunately no Results Found</h3>
        {% endif %}
    </div>

{% endblock %}