{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
        <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src="{{url_for('static', filename='images/project-3-img-014a.jpg')}}" alt="Create Account image">
                    <span class="card-title red-text text-darken-1 center-align">Create Account</span>
                </div>
                <div class="card-content">
                    <div class="row">
                        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
                            <div class="card-panel">
                                <!-- username -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-user-plus prefix red-text text-darken-1"></i>
                                        <input id="username" name="username" type="text" minlength="5"
                                            maxlength="15" pattern="^[a-zA-Z0-9]{5,18}$" class="validate" title="Must contain lowercase, uppercase and numbers.
                                            At least 5 characters" required>
                                        <label for="username">Username</label>
                                    </div>
                                </div>
                                <!-- passowrd -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-user-lock prefix red-text text-darken-1"></i>
                                        <input id="password" name="password" type="password" minlength="5"
                                            maxlength="15" pattern="^[a-zA-Z0-9]{5,18}$" class="validate" title="Must contain lowercase, uppercase and numbers.
                                            At least 5 characters" required>
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <!-- register -->
                                <div class="row">
                                    <div class="col s12 center-align">
                                        <button type="reset" class="col s4 offset-s1 btn-large red darken-1 text-shadow">
                                            Cancel <i class="far fa-times-circle"></i>
                                        </button>
                                        <button type="submit" class="col s4 offset-s2 btn-large light-green darken-3 text-shadow">
                                            Register <i class="fas fa-sign-in-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                For Existing Users
                <a href="{{ url_for('login') }}" class="link-text red-text text-darken-1">Log In Here</a>
            </p>
        </div>
    </div>

{% endblock %}