{% extends "base.html" %}
{% block content %}
    <h3 class="subtitle light-green-text text-darken-3 center-align">Stats</h3>
    <h4 class="title red-text text-darken-1 center-align">Some about our recipes</h4>
    <h4 class="title light-green-text text-darken-3 center-align">We have {{ length_list }} recipes in our collection</h4>

    <div class="container">
        <div class="row">
            {% for key, stats in stats_dict.items() %}
                <h4 class="light-green-text text-darken-3">{{ key }} dishes: </h4>
                <p>they are {{ stats }} % of our recipes</p>
                <div class="progress grey lighten-1">
                    <div class="determinate red darken-1" style="width: {{ stats }}%"></div>
                </div>
            {% endfor %}
        </div>
        <h3 class="subtitle red-text text-darken-1 center-align">Check our recipes below:</h3>
        <div class="row image-text-row">
            <div class="col s12 m5 l7 image-area">
                <img class="recipe-image responsive-img" src="{{url_for('static', filename='images/project-3-img-014b.jpg')}}" alt="">
            </div>
      
            <div class="col s12 m7 l5 content-area">
                <h3 class="subtitle light-green-text text-darken-3 center-align">Recipes</h3>
                <p>Get more infrotmation about food preparation</p>
                <a href="{{ url_for('get_recipes') }}" class="button col s10 m12 l10 xl8 offset-m0 offset-l0 offset-xl0 btn-large red darken-1 text-shadow">Read More  &nbsp;&nbsp; <i class="far fa-list-alt"></i></a>
            </div>
        </div>
    </div>

{% endblock %}